<!-- templates/registration/password_change_form.html -->

{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}

    <p class="h2 mt-md-4">Password Change</p>

    <p>Please enter your old password, then enter your new password twice to verify you typed it in correctly.</p>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <input class="btn btn-outline-dark" type="submit" value="Change My Password">

    </form>

{% endblock content %}
