<!-- templates/calendar.html -->

{% extends 'base.html' %}

{% block title %}Calendar{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

    <div class="mx-auto shadow-lg w-100 m-3" style="background-color: #ff9966">
      <h1 class="text-center font-weight-bold">
        <span class="align-bottom">Time Off Request</span></h1>
    </div>
    
    <div id="content-main">
          <ul class="object-tools">
            <li>
                <a href={{ previous_month }}>
                    Previous month
                </a>
            </li>
            <li>
                <a href={{ next_month }}>
                    Next month
                </a>
            </li>
        </ul>

        {{ calendar }}


    </div>


{% else %}
    <div class="mx-auto shadow-lg m-4" style="background-color: #ff9966; width: 200px">
      <p class="text-center font-italic text-light">
        <span class="align-bottom">You are not logged in.</span></p>
    </div>

{% endif %}

{% endblock content %}
