<!-- templates/clock_in_out.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Clock In/Out{% endblock title %}

{% block content %}

{% if user.is_authenticated %}


    <div class="mx-auto shadow-lg w-100 m-3" style="background-color: #ff9966">
      <h1 class="text-center font-weight-bold">
        <span class="align-bottom">Clock In/Out</span></h1>
    </div>

    <div class="w-100 m-3">
      <h3 class="text-center font-weight-bold">
        <span>{{ user.username }}</span>
    </div>

    <div class="w-100 m-3">
      <form class="text-center m-4" action="" method="POST">
        {% csrf_token %}

        {{ form|crispy }}
  
        <button class="btn btn-dark btn-lg mt-4">SUBMIT</button>
      </form>
    </div>


{% else %}
    <div class="mx-auto shadow-lg m-4" style="background-color: #ff9966; width: 200px">
      <p class="text-center font-italic text-light">
        <span class="align-bottom">You are not logged in.</span></p>
    </div>

{% endif %}

{% endblock content %}
