<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

    <div class="mx-auto shadow-lg m-4" style="background-color: #ff9966; width: 200px">
      <p class="text-center font-italic text-light">
        <span class="align-bottom">Hello, {{ user.username }}.</span></p>
    </div>

{% else %}
    <div class="mx-auto shadow-lg m-4" style="background-color: #ff9966; width: 200px">
      <p class="text-center font-italic text-light">
        <span class="align-bottom">You are not logged in.</span></p>
    </div>

{% endif %}

{% endblock content %}
